# Created by https://www.toptal.com/developers/gitignore/api/intellij+all,linux

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties


### Intellij+all Patch ###
# Ignores the whole .idea folder and all .iml files

*.iml
.idea/

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# End of https://www.toptal.com/developers/gitignore/api/intellij+all,linux

dist
.env
target/
.bin/
vendor/

# sonar-home contains volume data from docker-compose. Make sure it keeps UID:GID 1000:1000 instead of generated root.
sonar-home/conf/*
sonar-home/data/*
sonar-home/logs/*
sonar-home/plugins/*
sonar-home/temp/*
!sonar-home/conf/.gitkeep
!sonar-home/data/.gitkeep
!sonar-home/logs/.gitkeep
!sonar-home/plugins/.gitkeep
!sonar-home/temp/.gitkeep
